@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <h2>ABOUT PONG</h2>
    <p>Pong is one of the earliest arcade video games and the first sports arcade video game. It is a table tennis sports game featuring simple two-dimensional graphics. 
    While other arcade video games such as Computer Space came before it, Pong was one of the first video games to reach mainstream popularity. The game was originally 
    manufactured by Atari, which released it in 1972. Allan Alcorn created Pong as a training exercise assigned to him by Atari co-founder Nolan Bushnell.</p>
    <br /><br />

    <h2>About Us</h2>
    <br />
    <h4>Andrew Frideres</h4>
    <p></p>
    <br /><br />
    <h4>Matthew George</h4>
    <p></p>
    <br /><br />
    <h4>Tristin Nelson</h4>
    <p>From Ladysmith Wisconsin. Getting Associate Degrees in both Software Developer and Mobile Developer.</p>
    <br /><br />
    <h4>Brandon Woodford</h4>
    <p></p>
    <br /><br />

}
