@{
    ViewData["Title"] = "Contact";
}


<form action="" style="">

    <label for="fName" name="fName">First Name</label>
    <input type="text" name="fName" />
    <br /><br />
    <label for="lName" name="lName">Last Name</label>
    <input type="text" name="lName" />
    <br /><br />
    <label for="email" name="email">Email</label>
    <input type="email" name="email" />
    <br /><br /><br />
    <label for="message" name="message">Message</label>
    <br />
    <textarea name="message" cols="50" rows="5" >

    </textarea>
    <br />
    <div class="submitButton" style="text-align:center">
        <input type="submit" name="submit" value="submit" />
    </div>

    
</form>
<style>
    form > input > .submitButton {
        background-color: aqua;
    }
</style>
